.header {
  background: linear-gradient(
      0deg,
      rgba(255, 173, 91, 0.37) 0%,
      rgba(255, 255, 255, 0.57) 99.76%
    ),
    url("/img/header/header-bg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 558px;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;

  @media (max-width: 768px) {
    height: auto;
  }
}

.headerSecondary {
  background: linear-gradient(
      0deg,
      rgba(255, 173, 91, 0.37) 0%,
      rgba(255, 255, 255, 0.57) 99.76%
    ),
    url("/img/header/header-secondary-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 418px;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.headerTopSecondary {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px 16px;
  padding-left: 87px;
}

.firstSlide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 210px;
  text-align: center;
}
