.doc-wrapper {
  background: #ffad5b;
  padding: 10px 20px;
  margin-top: -90px;
  box-sizing: border-box;

  @media (max-width: 991px) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px 10px 20px;
  }
}

.doc-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 29px;
  position: relative;
  cursor: pointer;

  @media (max-width: 991px) {
    justify-content: start;
    width: max-content;
    padding-right: 20px;
  }

  &.active {
    border-radius: 36px;
    padding: 8px;
    box-sizing: border-box;
    background: rgba(13, 13, 13, 0.19);
  }
}

.doc-item {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #fff;
  position: relative;

  &::after {
    content: "";
    width: 1px;
    height: 21px;
    background-color: white;
    position: absolute;
    right: -14.5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:last-child::after {
    display: none;
  }
}
